// Colours
$black: #000;
$blue: #0069cc;
$green: #008000;
$green-2: #5cb85c;
$grey: #777;
$red: #cf2727;
$white: #fff;

// Font
$font: "Montserrat", sans-serif;

// Bootstrap overrides
$enable-responsive-font-sizes: true;