@import "variables";
@import "bootstrap";

body {
    font-family: $font;
}

a {
    &,
    &:focus,
    &:hover,
    &:visited {
        color: $blue;
    }

    &:focus,
    &:hover,
    &:visited {
        text-decoration: none;
    }
}

.jumbotron {
    background-color:$blue;
    background-image: url(https://c1.staticflickr.com/3/2883/11044278476_30b114e38e_b.jpg);
    background-position: 50% 40%;
    background-size: cover;
    color: $white;
    text-shadow: 2px 1px 5px $black;
    text-align: center;
}

.filter {
    margin-bottom: 15px;
    text-align: right;
}

.btn {
    &, &:hover {
        color: $white;
    }

    &--all,
    &--all:hover {
        background-color: $blue;
    }

    &--online,
    &--online:hover {
        background-color: $green;
    }

    &--offline,
    &--offline:hover {
        background-color: $red;
    }
}

.stream {
    margin-bottom: 20px;
}

.status-icon {
    font-size: 14px;
    vertical-align: top;

    &--online {
        color: $green-2;
    }

    &-offline {
        color: $grey;
    }
}

.status {
    &--null {
        color: $red;
    }

    &--offline {
        color: $grey;
    }

    &--online {
        color: $green-2;
    }
}