@import "variables";
@import "bootstrap";

body {
    font-family: $font;
}

a, a:visited {
    color: $blue;
}

a:hover, a:focus, a:visited {
    text-decoration: none;
}

a:hover, a:focus {
    color: $blue;
}

.jumbotron {
    background-color:$blue;
    background-image: url(https://c1.staticflickr.com/3/2883/11044278476_30b114e38e_b.jpg);
    background-size: cover;
    background-position: 50% 40%;
    color: $white;
    text-shadow: 2px 1px 5px $black;
    text-align: center;
}

#filter {
    margin-bottom: 15px;
    text-align: right;
}

.all-button, .all-button:hover {
    background-color: $blue;
    color: $white;
}

.online-button, .online-button:hover {
    background-color: $green;
    color: $white;
}

.offline-button, .offline-button:hover {
    background-color: $red;
    color: $white;
}

.card {
    margin-bottom: 20px;
}

.fa-circle, .fa-circle-o {
    font-size: 14px;
    vertical-align: top;
}

.fa-circle {
    color: $green-2;
}

.fa-circle-o {
    color: $grey;
}

.status {
    height: 60px;

    &--null {
        color: $red;
    }

    &--offline {
        color: $grey;
    }

    &--online {
        color: $green-2;
    }
}