@import "bootstrap";

body {
  font-family: 'Montserrat', sans-serif;
}

a, a:visited {
  color: #0083ff;
}

a:hover, a:focus, a:visited {
  text-decoration: none;
}

a:hover, a:focus {
  color: #0069cc;
}

.jumbotron {
  background-color:
#1ba1e2;
  background-image: url(https://c1.staticflickr.com/3/2883/11044278476_30b114e38e_b.jpg);
  background-size: cover;
  background-position: 50% 40%;
  color: #fff;
  text-shadow: 2px 1px 5px black;
  text-align: center;
}

#filter {
  margin-bottom: 15px;
  text-align: right;
}

.all-button, .all-button:hover {
  background-color: #0083ff;
  color: #fff;
}

.online-button, .online-button:hover {
  background-color: green;
  color: #fff;
}

.offline-button, .offline-button:hover {
  background-color: #cf2727;
  color: #fff;
}

.card {
  margin-bottom: 20px;
}

.fa-circle, .fa-circle-o {
  font-size: 14px;
  vertical-align: top;
}

.fa-circle {
  color: #5CB85C;
}

.fa-circle-o {
  color: grey;
}

.status {
  height: 60px;
}